@{
    ViewData["Title"] = "Sobre os Autores";
}
<h1>@ViewData["Title"]</h1>

<p>
    João Vitor Pires Paes - RA G5803H6
    <br />
    Rafael Ribeiro - RA G79CJG8
    <br />
    Jean Pedro Silva vencigueri - G79FDA4
</p>
